<div class="row">
  <div class="col-xs-4">
    <h2>Add a Book</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <form [formGroup]="formBook" (submit)="addBook()">
      <div formGroupName="book">
        <div class="form-group">
          <label for="author">Author</label>
          <input
            formControlName="author"
            id="author"
            type="text"
            class="form-control">
          <div *ngIf="book.get('author').touched && book.get('author').invalid" class="alert alert-danger">
            <div *ngIf="author.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            formControlName="title"
            id="title"
            type="text"
            class="form-control">
          <div *ngIf="book.get('title').touched && book.get('title').invalid" class="alert alert-danger">
            <div *ngIf="title.errors.required">Title is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="editorial">Editorial</label>
          <input
            formControlName="editorial"
            id="editorial"
            type="text"
            class="form-control">
          <div *ngIf="book.get('editorial').touched && book.get('editorial').invalid" class="alert alert-danger">
            <div *ngIf="editorial.errors.required">Editorial is required</div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary">Submit</button>
      <p>
        to test...<br>
        {{ book.value | json }}
      </p>
    </form>
  </div>
</div>

